<%_ if (names.length) { _%>
  <ul>
    <%- names.forEach(function (name) { -%>
      <%# Notice how the single quotation mark is escaped in the output HTML %>
      <li foo="<%= name %>"><%= name %></li>
    <%- }) -%>
  </ul>
<%_ } _%>
